.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    position: relative;
    left: -25%;
    /* min-height: calc(100vh - 12rem); */
    min-width: calc(48rem + 50%);
    line-height: 1;
}
.carousel-inner>.item {
-webkit-transition: 1.9s ease-in-out left;
-webkit-transition: 1.9s, ease-in-out, left;
-moz-transition: 1.9s, ease-in-out, left;
-o-transition: 1.9s, ease-in-out, left;
transition: 1.9s, ease-in-out, left;
transition: 1.9s ease-in-out left;
}
.carousel-caption {
  font-family: Lobster, sans-serif;
  font-size: 2.5rem;
  /* color: #ea9215; */
  color: #ffe5c1;
  top: 33%;
  text-shadow: 1px 1px 1px black;
}
.carousel-caption a {
  text-decoration: underline;
  color: #4CAF50;
}

@media (min-width: 40rem) {
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    left: 0;
    /* top: -45%; */
    /* min-width: 44.5rem; */
    width: 100%;
  }
}
