/* fonts */
@import url('https://fonts.googleapis.com/css?family=Lato:400,900');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700');
@import url('https://fonts.googleapis.com/css?family=Lobster');

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  /*background-image: url(../images/restaurace_outsideCB.jpg);*/
  /*background-image: url(../images/restaurace_oknoCB2.jpg) cover fixed no-repeat center center;*/
}

body {
  position: relative;
  padding-top: 12rem;
  height: 100%;
  background-color: #ea9215;
  font-family: 'Lato', sans-serif;
  font-size: 1.6em;
  font-weight: bolder;
  color: #eeeeee;
  text-align: center;
}
a {
  color: #eeeeee;
  text-decoration: none;
}
a:hover {
  color: #FFA000; //orange
}
h1 {
  color: #eee;
  font-weight: 900;
  line-height: 1.5em;
}
p {
  line-height: 1.8em;
  font-weight: 400;
  text-align: justify;
}
h2 {
  text-align: left;
}
h3 {
  margin-top: 0;
  margin-bottom: 1em;
}
/*.table thead {
  color: #FFA000;
  background-color: #4CAF50; //green
  border-top: 5px solid #FFA000;
  font-size: 1.3em;
}*/
.tab-content {
  padding-top: 2em;
  padding-bottom: 5em;
}
.table tr td:last-of-type {
  text-align: right;
  padding-left: 0;
}
.table tr td:first-of-type {
  width: 85%;
  text-align: left;
}
.table {
  color: #4CAF50; //green
  /*border: 0px solid #4CAF50; //green*/
  text-align: left;
}
.table-striped tr:nth-of-type(even) {
  background-color: rgba(58, 71, 80, 0.4);
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    /*stripe tabulka zmena barvy*/
   /*background-color: rgba(25, 25, 25, 0.3);*/
}
.table tr:nth-child(2n) {
  color: #eeeeee;
}
tbody tr td {
  min-width: 70px;
}
tbody tr td:nth-of-type(2n) {
  padding-right: 0;
  text-align: right;
}
/* navbar */
.navbar {
  min-height: 12rem;
}
.navbar-default .navbar-nav > li > a:hover {
  /*color: rgb(35, 82, 124);*/
  color: #FFA000;
}
.navbar-default .navbar-nav > li > a {
  color: #eeeeee;
}
.navbar-default {
  background-color: #4CAF50; //green
}
.navbar-default a.navbar-brand {
  color: #FFA000;
  font-weight: 900;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #ddd;
}
.navbar-brand img {
  height: 8rem;
  /* padding-left: 15px; */
}
#navbar-collapse-1 {
  padding-top: 40px;
}
/* navtabs jidlo a napoje */
.nav-tabs > li > a {
  background-color: rgba(255, 255, 255, 0.3);
}
.btn {
  margin-bottom: 10px;
}
.form-group {
  text-align: left;
}
.msg {
  color: green;
  font-size: 18px;
  font-weight: 900;
  background-color: lightgrey;
  padding: 5px;
}
.vypis tr td:first-of-type {
  width: auto;
}
.glyphicon {
  padding-right: 2px;
}
.centered-table {
  padding: 50px;
}
ul.dropdown-menu {
  background: #4CAF50;
  color: white;
}
.obsah {
position: relative;
top: 50%;
transform: perspective(1px) translateY(-50%);
display: block;
}
.parallax {
    /* The image used */
    background-image: url("../images/restaurace_okno2_blur.jpg");

    /* Set a specific height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*kapitoly*/
#onas {
  /* margin: auto; */
  min-height: 100vh;
  padding: 2em;
  padding-bottom: 4em;
  position: relative;
  display: inline-block;
}
.onas__blok-text {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: justify;
}
#onas a, #penzion a {
  text-decoration: underline;
  text-decoration-style:dotted;
  font-style: italic;
}
#onas a:hover, #onas a:active,
#penzion a:hover, #penzion a:active {
  color: #777;
}
#onas h1 {
  margin-top: 150px;
  margin-bottom: 2em;
}

#historie {
  margin: auto;
  min-height: 100vh;
  background: #c47401;
  padding: 2em;
  padding-bottom: 4em;
}
#historie h1 {
  margin-top: 150px;
  margin-bottom: 2em;
}
#historie p {
  padding-bottom: 1em;
}

#kontakt {
  margin: auto;
  background-color: #4CAF50;
  height: 100vh;
}
.kontakt-text {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  display: block;
  text-align: center;
}

/*datepicker*/
.ui-datepicker table {
  font-size: 0.7em;
}
.ui-datepicker table th {
  background-color: inherit;
}
.ui-widget-header {
  color: #FFA000;
}

/*galerie restaurace*/
.modal-title {
  color: #212121;
}
div.ekko-lightbox-nav-overlay a span {
  text-align: left;
}
#galerierest {
  background: #c47401;
  padding-top: 150px;
  padding-bottom: 5em;
}

#galerierest a {
  display: inline-block;
  margin-bottom: 30px;
  width: calc(100% - 4px);
  margin-right: 8px;
}
#galerierest a:nth-of-type(2n) {
  margin-right: 0;
}
#galerierest img {
  width: 100%;
  box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.5);
}
#galerierest h1, #jidlo h1, #jidelni h1, #napojovy h1 {
  margin-top: 1em;
  margin-bottom: 2em;
  padding-bottom: 15px;
}
#form-container {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px;
  margin-top: 4em;
  margin-bottom: 4em;
  border-radius: 10px;
}

/*restaurace*/
#jidelni {
  padding: 15px;
  padding-top: 150px;
}

#jidelni p {
  text-align: justify;
}

#napojovy {
  padding: 15px;
  padding-top: 150px;
}

/*galerie pokoje*/
#pokoje {
  background-color: #FFA000;
  padding-bottom: 2em;
}

#pokoje img {
  width: 100%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  /* border: 15px solid rgba(255, 255, 255, 0.5); */
  /*height: 220px;*/
}
#pokoje h3 {
  margin-top: 2em;
}
.pokoj a {
  display: inline-block;
  margin-bottom: 30px;
  width: 100%;
  /* width: calc(100% - 4px); */
  margin-right: 8px;
}

/*media queries*/
@media (max-width: 768px) {

  #navbar-collapse-1 {
    padding-top: 80px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border: 0 solid transparent;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background-color: rgba(0, 0, 0, 0.1)
  }
  .navbar-fixed-top .navbar-collapse {
    max-height: 400px;
  }
  .navbar-brand img {
    padding-left: 15px;
  }
  .leftright {
    padding-left: 15px;
    padding-right: 15px;
  }
  #tabJidlo {
    padding-left: 15px;
    padding-right: 15px;
  }
  #tabNapoje {
    padding-left: 15px;
    padding-right: 15px;
  }
  .tab-content {
    padding-right: 15px;
    padding-left: 15px;
  }
  .tab-pokoje {
    padding-left: 0;
    padding-right: 0;
  }
  #jidelni p {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(200, 200, 200, 0.8) url('../images/hand-point-up_white.svg') no-repeat center 50%;
  background-size: 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
.cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }


@media (min-width: 768px) {
  h1 {
    font-size: 2em;
  }
  p {
    font-size: 1em;
    line-height: 1.9em;
  }
  .centered-table {
    padding: 180px;
  }
  .table thead {
    font-size: 1.6em;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    background-color: inherit;
    color: white;
    border-bottom: 1px solid #e7e7e7;
  }
  /* rollback */
  .cd-top {
      right: 20px;
      bottom: 20px;
    }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /*galerie pokoje*/
  #pokoje img {
    /*width: 100%;*/
    height: 220px;
  }
 }


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #onas {
    height: 100vh;
  }
